<div class="main-wrapper">
  <div class="row">
    <div class="col-md-6 login-bg">
      <!-- Login Banner (You can keep this section as it is) -->
      <!-- Paste the code for the login banner here -->
    </div>
    <div class="col-md-6 login-wrap-bg">
      <!-- Change Password Section -->
      <div class="login-wrapper">
        <div class="loginbox">
          <div class="img-logo">
            <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
            <div class="back-home">
              <a routerLink="/">Back to Home</a> <!-- Use Angular's routerLink to navigate -->
            </div>
          </div>
          <h1>Change Password</h1>
          <form (ngSubmit)="onSubmit()">
            <div class="input-block">
              <label for="password" class="form-control-label">New Password</label>
              <input type="password" id="password" class="form-control" [(ngModel)]="changePasswordForm.password" name="password" required>
            </div>
            <div class="input-block">
              <label for="repeatpassword" class="form-control-label">Confirm New Password</label>
              <input type="password" id="repeatpassword" class="form-control" [(ngModel)]="changePasswordForm.repeatpassword" name="repeatpassword" required>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-start">Change Password</button>
            </div>
          </form>
        </div>
      </div>
      <!-- /Change Password Section -->
    </div>
  </div>
</div>
