<div class="comman-space bdr-bottom-line">
  <div class="instruct-review-blk ">
    <div class="review-item">
      <div class="instructor-wrap border-0 m-0">
        <div class="about-instructor">
          <div class="abt-instructor-img">
          </div>
          <div class="instructor-detail">
          </div>
        </div>

      </div>

      <!-- <h1>{{reponseSurUnePublication.user.firstname}}</h1> -->

      <p class="rev-info">{{reponseSurUnePublication.description}}</p>
      <div class="course-share d-flex  justify-content-center">
        <p>{{reponseSurUnePublication.likePublicationList.length}}</p>
        <button button (click)="like()"><i class="fa-regular fa-heart"></i></button>
      </div>

    </div>
  </div>
</div>
