<div class="settings-widget dash-profile mb-3">
  <div class="settings-menu p-0">
    <div class="profile-bg">
      <h5>Beginner</h5>
      <img src="../../../assets/img/profile-bg.jpg" alt="">
      <div class="profile-img">
        <a href="student-profile.html"><img src="../../../assets/img/user/user11.jpg" alt=""></a>
      </div>
    </div>
    <div class="profile-group">
      <div class="profile-name text-center">
        <h4><a href="student-profile.html">Rolands R</a></h4>
        <p>Student</p>
      </div>
      <div class="go-dashboard text-center">
        <a href="deposit-student-dashboard.html" class="btn btn-primary">Go to Dashboard</a>
      </div>
    </div>
  </div>
</div>

