<app-navbar></app-navbar>

<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-12" style="position: -webkit-sticky; position: sticky; top: 20px;">
        <app-sidebar2></app-sidebar2>
      </div>

      <div class="col-xl-9 col-lg-8 col-md-12">
        <div class="posts-container" style="overflow-y: auto; max-height: calc(100vh - 60px);"> <!-- Adjust max-height as needed -->
          <!-- Your provided HTML snippet for the initial post -->
          <div class="comman-space bdr-bottom-line">
            <div class="instruct-review-blk">
              <div class="review-item">
                <div class="instructor-wrap border-0 m-0">
                  <div class="about-instructor">
                    <div class="abt-instructor-img">
                      <!-- Your instructor image -->
                    </div>
                    <div class="instructor-detail">
                      <!-- Your instructor details -->
                    </div>
                  </div>
                </div>
                <h1>{{post.titre}}</h1>
                <p class="rev-info">{{post.description}}</p>
                <p class="rev-info">Nombre de vue: {{post.vue}}</p>

                <div class="course-share d-flex justify-content-center">
                  <p>{{post.likePublicationList.length}}</p>
                  <button (click)="like()"  [style.background-color]="buttonColor" style=" border: none; padding: 8px 20px; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease;">
                    <i class="fa-regular fa-heart"></i> {{likeDescription}}
                  </button>
                  <button mat-button (click)="openPopup()">Signaler</button>

                </div>
              </div>
            </div>
          </div>

          <!-- Loop through each response of the post -->
          <app-reponse-publication-details *ngFor="let reponseSurUnePublication of post.reponsePublicationList" [reponseSurUnePublication]="reponseSurUnePublication"></app-reponse-publication-details>

          <!-- Add response form for the current post -->
          <app-ajouter-reponse [publicationInitiale]="post"></app-ajouter-reponse>

          <!-- Loop through the rest of the posts -->

        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
