<!-- Main Wrapper -->
<div class="main-wrapper">

  <!-- Header -->
<app-navbar3></app-navbar3>
  <!-- /Header -->

  <!--Dashbord Student -->
  <div class="page-content">
    <div class="container">
      <div class="row">

        <!-- Sidebar -->
        <div class="col-xl-3 col-lg-4 col-md-12 theiaStickySidebar">
<app-sidebar1></app-sidebar1>
          <div class="settings-widget account-settings">
            <div class="settings-menu">
              <h3>DASHBOARD</h3>
              <ul>
                <li class="nav-item ">
                  <a href="instructor-dashboard.html" class="nav-link">
                    <i class="feather-home"></i> My Dashboard
                  </a>
                </li>
                <li class="nav-item ">
                  <a href="instructor-course.html" class="nav-link">
                    <i class="feather-book"></i> My Courses
                  </a>
                </li>
                <li class="nav-item">
                  <a href="instructor-reviews.html" class="nav-link">
                    <i class="feather-star"></i> Reviews
                  </a>
                </li>
                <li class="nav-item">
                  <a href="instructor-earnings.html" class="nav-link">
                    <i class="feather-pie-chart"></i> Earnings
                  </a>
                </li>
                <li class="nav-item ">
                  <a href="instructor-orders.html" class="nav-link">
                    <i class="feather-shopping-bag"></i> Orders
                  </a>
                </li>
                <li class="nav-item ">
                  <a href="instructor-student-grid.html" class="nav-link">
                    <i class="feather-users"></i> Students
                  </a>
                </li>
                <li class="nav-item ">
                  <a href="instructor-payouts.html" class="nav-link">
                    <i class="feather-dollar-sign"></i> Payouts
                  </a>
                </li>
                <li class="nav-item">
                  <a href="instructor-tickets.html" class="nav-link">
                    <i class="feather-server"></i> Support Tickets
                  </a>
                </li>
              </ul>
              <div class="instructor-title">
                <h3>ACCOUNT SETTINGS</h3>
              </div>
              <ul>
                <li class="nav-item ">
                  <a href="instructor-edit-profile.html" class="nav-link ">
                    <i class="feather-settings"></i> Edit Profile
                  </a>
                </li>
                <li class="nav-item">
                  <a href="instructor-security.html" class="nav-link">
                    <i class="feather-user"></i> Security
                  </a>
                </li>
                <li class="nav-item">
                  <a href="instructor-social-profiles.html" class="nav-link">
                    <i class="feather-refresh-cw"></i> Social Profiles
                  </a>
                </li>
                <li class="nav-item">
                  <a href="instructor-notification.html" class="nav-link">
                    <i class="feather-bell"></i> Notifications
                  </a>
                </li>
                <li class="nav-item">
                  <a href="instructor-profile-privacy.html" class="nav-link">
                    <i class="feather-lock"></i> Profile Privacy
                  </a>
                </li>
                <li class="nav-item active">
                  <a href="instructor-delete-profile.html" class="nav-link">
                    <i class="feather-trash-2"></i> Delete Profile
                  </a>
                </li>
                <li class="nav-item">
                  <a href="instructor-linked-account.html" class="nav-link">
                    <i class="feather-user"></i> Linked Accounts
                  </a>
                </li>
                <li class="nav-item">
                  <a href="index.html" class="nav-link">
                    <i class="feather-power"></i> Sign Out
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /Sidebar -->

        <!-- Profile Details -->
        <div class="col-xl-9 col-md-8">
          <div class="settings-widget profile-details">
            <div class="settings-menu p-0">
              <div class="profile-heading">
                <h3>Delete your account</h3>
                <p>Delete or Close your account permanently.</p>
              </div>
              <div class="checkout-form personal-address">
                <div class="personal-info-head">
                  <h4>Warning</h4>
                  <p>If you close your account, you will be unsubscribed from all your 0 courses, and will lose access forever.</p>
                </div>
                <div class="un-subscribe p-0">
                  <a href="#" class="btn btn-danger">Delete My Account</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Profile Details -->

      </div>
    </div>
  </div>
  <!-- /Dashbord Student -->

  <!-- Footer -->

<app-footer></app-footer>

  <!-- /Footer -->

</div>
